<h2>Security Groups</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "security groups", region_security_groups_path(@region) %>
</div>

<table class="table" id="security_groups">
  <thead>
    <tr>
      <th>group_id</th>
      <th>vpc_id</th>
      <th>name</th>
      <th>description</th>
    </tr>
  </thead>
  <tbody>
    <% @security_groups.each do |security_group| %>
      <tr>
        <td><%= security_group_link @region, security_group.group_id %></td>
        <td><%= vpc_link(@region, security_group.vpc_id) %></td>
        <td><%= security_group.group_name %></td>
        <td><%= security_group.group_description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
