<h2>Security Groups</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "security groups", region_security_groups_path(@region) %> /
  <%= security_group_link(@region, @security_group) %>
</div>

<p>
  <b>vpc: </b><%= vpc_link(@region, @security_group.vpc) %>
</p>

<p>
  <b>group_name: </b><%= @security_group.group_name %>
</p>

<p>
  <b>group_description: </b><%= @security_group.group_description %>
</p>
