<h2>Security Groups</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "security groups", region_security_groups_path(@region) %> /
  <%= security_group_link(@region, @security_group) %>
</div>

<h4>Details</h4>

<dl class="dl-horizontal">
  <dt>vpc:</dt>
  <dd><%= vpc_link(@region, @security_group.vpc) %></dd>

  <dt>group_name:</dt>
  <dd><%= @security_group.group_name %></dd>

  <dt>group_description:</dt>
  <dd><%= @security_group.group_description %></dd>
</dl>

<h4>Instances</h4>

<ul>
  <% @security_group.instances.sort.each do |instance| %>
    <li><%= instance_link(@region, instance) %></li>
  <% end %>
</ul>

<h4>Raw</h4>

<pre><%= JSON.pretty_generate(@security_group.as_json) %></pre>
