<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "security groups", region_security_groups_path(@region) %> /
  <%= security_group_link(@region, @security_group) %>
</div>

<h2><%= @security_group %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Details</h4>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>vpc:</dt>
      <dd><%= vpc_link(@region, @security_group.vpc) %></dd>

      <dt>group_name:</dt>
      <dd><%= @security_group.group_name %></dd>

      <dt>group_description:</dt>
      <dd><%= @security_group.group_description %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Instances</h4>
  </div>

  <div class="panel-body">
    <ul>
      <% @security_group.instances.sort.each do |instance| %>
        <li><%= instance_link(@region, instance) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Raw</h4>
  </div>

  <pre><%= JSON.pretty_generate(@security_group.as_json) %></pre>
</div>
