<h2>VPC</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "vpcs", region_vpcs_path(@region) %> /
  <%= vpc_link(@region, @vpc) %>
</div>

<h4>Details</h4>

<dl class="dl-horizontal">
    <dt>state:</dt>
    <dd><%= vpc_state(@vpc.state) %></dd>

    <dt>cidr_block:</dt>
    <dd><%= @vpc.cidr_block %></dd>

    <dt>dhcp_options_id:</dt>
    <dd><%= @vpc.dhcp_options_id %></dd>

    <dt>instance_tenancy:</dt>
    <dd><%= @vpc.instance_tenancy %></dd>

    <dt>is_default:</dt>
    <dd><%= @vpc.is_default %></dd>
</dl>

<h4>Subnets</h4>

<ul>
  <% @vpc.subnets.sort.each do |subnet| %>
    <li><%= subnet_link(@region, subnet) %></li>
  <% end %>
</ul>

<h4>Instances</h4>

<ul>
  <% @vpc.instances.sort.each do |instance| %>
    <li><%= instance_link(@region, instance) %></li>
  <% end %>
</ul>

<h4>Security Groups</h4>

<ul>
  <% @vpc.groups.sort.each do |group| %>
    <li><%= security_group_link(@region, group) %></li>
  <% end %>
</ul>

<h4>Raw</h4>

<pre><%= JSON.pretty_generate(@vpc.as_json) %></pre>
