<h2>Instances</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "instances", region_instances_path(@region) %> /
  <%= instance_link(@region, @instance) %>
</div>

<p>
  <b>state: </b><%= instance_state(@instance.instance_state) %>
</p>

<p>
  <b>type: </b><%= @instance.instance_type %>
</p>

<p>
  <b>private_dns_name: </b><%= @instance.private_dns_name %>
</p>

<p>
  <b>dns_name: </b><%= @instance.dns_name %>
</p>

<p>
  <b>vpc: </b><%= vpc_link(@region, @instance.vpc) %>
</p>

<p>
  <b>subnet: </b><%= subnet_link(@region, @instance.subnet) %>
</p>

<p>
  <b>image_id: </b><%= image_link(@region, @instance.image_id) %>
</p>

<p>
  <b>groups: </b>

  <ul>
    <% @instance.groups.each do |group| %>
      <li><%= security_group_link(@region, group) %></li>
    <% end %>
  </ul>
<p>

<p>
  <b>volumes: </b>

  <ul>
    <% @instance.volumes.each do |volume| %>
      <li><%= volume_link(@region, volume) %></li>
    <% end %>
  </ul>
<p>

<p>
  <b>network_interfaces: </b>
  <ul>
    <% @instance.network_interfaces.sort_by {|ni| ni.attachment[:device_index] }.each do |network_interface| %>
      <li>eth<%= network_interface.attachment[:device_index] %> (<%= network_interface_link(@region, network_interface) %>)
      <ul>
      <% network_interface.private_ip_addresses_set.each do |address| %>
        <li><%= address[:private_ip_address] %> <%= address_link(@region, (address[:association] || {})[:public_ip]) %></li>
      <% end %>
      </ul>
      </li>
    <% end %>
  </ul>
<p>
