<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "instances", region_instances_path(@region) %> /
  <%= instance_link(@region, @instance) %>
</div>

<h2><%= @instance %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Details</h4>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>state:</dt>
      <dd><%= instance_state(@instance.instance_state) %></dd>

      <dt>type:</dt>
      <dd><%= @instance.instance_type %></dd>

      <dt>private_dns_name:</dt>
      <dd><%= @instance.private_dns_name %></dd>

      <dt>dns_name:</dt>
      <dd><%= @instance.dns_name %></dd>

      <dt>vpc:</dt>
      <dd><%= vpc_link(@region, @instance.vpc) %></dd>

      <dt>subnet:</dt>
      <dd><%= subnet_link(@region, @instance.subnet) %></dd>

      <dt>image:</dt>
      <dd><%= image_link(@region, @instance.image_id) %></dd>

      <dt>groups:</dt>
      <dd>
        <%= @instance.groups.sort.collect do |group|
          security_group_link(@region, group)
        end.join(" / ").html_safe %>
      </dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Volumes</h4>
  </div>

  <div class="panel-body">
    <ul>
      <% @instance.volumes.each do |volume| %>
        <li>
          <%= volume.attachment.device %> (<%= volume_link(@region, volume) %>)
          <dl class="dl-horizontal">
            <dt>status:</dt>
            <dd><%= attachment_status(volume.attachment.status) %></dd>

            <dt>attach_time:</dt>
            <dd><%= volume.attachment.attach_time %></dd>

            <dt>delete_on_termination:</dt>
            <dd><%= volume.attachment.delete_on_termination %></dd>
          </dl>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Network Interfaces</h4>
  </div>

  <div class="panel-body">
    <ul>
      <% @instance.network_interfaces.sort_by {|ni| ni.attachment[:device_index] }.each do |network_interface| %>
        <li>eth<%= network_interface.attachment[:device_index] %> (<%= network_interface_link(@region, network_interface) %>)
        <ul>
        <% network_interface.private_ip_addresses_set.each do |address| %>
          <li>
            <%= address[:private_ip_address] %>
            <% if address[:association] %>
              <% if address[:association][:ip_owner_id] != "amazon" %>
                (<%= address_link(@region, address[:association][:public_ip]) %>)
              <% else %>
                (<%= address[:association][:public_ip] %>)
              <% end %>
            <% end %>
          </li>
        <% end %>
        </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Raw</h4>
  </div>

  <pre><%= JSON.pretty_generate(@instance.instance_status.as_json) %></pre>
  <pre><%= JSON.pretty_generate(@instance.as_json) %></pre>
</div>
