<h2>Subnets</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "subnets", region_subnets_path(@region) %>
</div>

<table>
  <thead>
    <tr>
      <th>subnet_id</th>
      <th>vpc_id</th>
      <th>state</th>
      <th>cidr_block</th>
      <th>availability_zone</th>
      <th>tag_set</th>
    </tr>
  </thead>
  <tbody>
    <% @subnets.each do |subnet| %>
      <tr>
        <td><%= subnet_link(@region, subnet.subnet_id) %></td>
        <td><%= vpc_link(@region, subnet.vpc_id) %></td>
        <td><%= subnet.state %></td>
        <td><%= subnet.cidr_block %></td>
        <td><%= subnet.availability_zone %></td>
        <td><%= subnet.tag_set %></td>
      </tr>
    <% end %>
  </tbody>
</table>
