<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "subnets", region_subnets_path(@region) %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Subnets</h4>
  </div>

  <table class="table" id="subnets">
    <thead>
      <tr>
        <th>name</th>
        <th>vpc</th>
        <th>cidr_block</th>
        <th>availability_zone</th>
        <th>state</th>
      </tr>
    </thead>
    <tbody>
      <% @subnets.each do |subnet| %>
        <tr>
          <td><%= subnet_link(@region, subnet) %></td>
          <td><%= vpc_link(@region, subnet.vpc) %></td>
          <td><%= subnet.cidr_block %></td>
          <td><%= subnet.availability_zone %></td>
          <td><%= subnet_state(subnet.state) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
