<h2>Subnets</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "subnets", region_subnets_path(@region) %> /
  <%= subnet_link(@region, @subnet) %>
</div>

<p>
  <b>vpc: </b><%= vpc_link(@region, @subnet.vpc) %>
</p>

<p>
  <b>state: </b><%= subnet_state(@subnet.state) %>
</p>

<p>
  <b>cidr_block: </b><%= @subnet.cidr_block %>
</p>

<p>
  <b>availability_zone: </b><%= @subnet.availability_zone %>
</p>

<p>
  <b>available_ip_address_count: </b><%= @subnet.available_ip_address_count %>
</p>

<p>
  <b>default_for_az: </b><%= @subnet.default_for_az %>
</p>

<p>
  <b>map_public_ip_on_launch: </b><%= @subnet.map_public_ip_on_launch %>
</p>
