<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "subnets", region_subnets_path(@region) %> /
  <%= subnet_link(@region, @subnet) %>
</div>

<h2><%= @subnet %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Details</h4>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>state:</dt>
      <dd><%= subnet_state(@subnet.state) %></dd>

      <dt>vpc:</dt>
      <dd><%= vpc_link(@region, @subnet.vpc) %></dd>

      <dt>cidr block:</dt>
      <dd><%= @subnet.cidr_block %></dd>

      <dt>availability_zone:</dt>
      <dd><%= @subnet.availability_zone %></dd>

      <dt>available_ip_addresss_count:</dt>
      <dd><%= @subnet.available_ip_address_count %></dd>

      <dt>default_for_az:</dt>
      <dd><%= @subnet.default_for_az %></dd>

      <dt>map_public_ip_on_launch:</dt>
      <dd><%= @subnet.map_public_ip_on_launch %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Instances</h4>
  </div>

  <div class="panel-body">
    <ul>
      <% @subnet.instances.sort.each do |instance| %>
        <li><%= instance_link(@region, instance) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Raw</h4>
  </div>

  <pre><%= JSON.pretty_generate(@subnet.as_json) %></pre>
</div>
