<h2>Volumes</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "volumes", region_volumes_path(@region) %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>volume_id</th>
      <th>availability_zone</th>
      <th>size</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <% @volumes.each do |volume| %>
      <tr>
        <td><%= volume_link(@region, volume.volume_id) %></td>
        <td><%= volume.availability_zone %></td>
        <td><%= volume.size %></td>
        <td><%= volume.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
