<h2>Volumes</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "volumes", region_volumes_path(@region) %> /
  <%= volume_link(@region, @volume) %>
</div>

<h4>Details</h4>

<dl class="dl-horizontal">
  <dt>status:</dt>
  <dd><%= volume_status(@volume.status) %></dd>

  <dt>availability_zone:</dt>
  <dd><%= @volume.availability_zone %></dd>

  <dt>size:</dt>
  <dd><%= @volume.size %></dd>
</dl>

<h4>Attachments</h4>

<% @volume.attachments.each do |attachment| %>
  <dl class="dl-horizontal">
    <dt>instance:</dt>
    <dd><%= instance_link(@region, attachment.instance) %></dd>

    <dt>device:</dt>
    <dd><%= attachment.device %></dd>

    <dt>status:</dt>
    <dd><%= attachment_status(attachment.status) %></dd>

    <dt>attach_time:</dt>
    <dd><%= attachment.attach_time %></dd>

    <dt>delete_on_termination:</dt>
    <dd><%= attachment.delete_on_termination %></dd>
  </dl>
<% end %>

<h4>Raw</h4>

<pre><%= JSON.pretty_generate(@volume.as_json) %></pre>
