<h2>Volumes</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "volumes", region_volumes_path(@region) %> /
  <%= volume_link(@region, @volume.id) %>
</div>

<p>
  <b>availability_zone: </b><%= @volume.availability_zone %></td>
</p>

<p>
  <b>status: </b><%= @volume.status %></td>
</p>

<p>
  <b>size: </b><%= @volume.size %></td>
</p>

<p>
  <b>tag_set: </b><%= @volume.tag_set %></td>
</p>
