<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "network interfaces", region_network_interfaces_path(@region) %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Network Interfaces</h4>
  </div>

  <table class="table" id="network_interfaces">
    <thead>
      <tr>
        <th>name</th>
        <th>instance</th>
        <th>availability_zone</th>
        <th>status</th>
      </tr>
    </thead>
    <tbody>
      <% @network_interfaces.each do |network_interface| %>
        <tr>
          <td><%= network_interface_link(@region, network_interface) %></td>
          <td><%= instance_link(@region, network_interface.instance) %></td>
          <td><%= network_interface.availability_zone %></td>
          <td><%= network_interface_status(network_interface.status) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
