<h2>Network Interfaces</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "network interfaces", region_network_interfaces_path(@region) %> /
  <%= network_interface_link(@region, @network_interface.id) %>
</div>

<p>
  <b>vpc: </b><%= vpc_link(@region, @network_interface.vpc) %>
</p>

<p>
  <b>subnet: </b><%= subnet_link(@region, @network_interface.subnet) %>
</p>

<p>
  <b>instance: </b><%= instance_link(@region, @network_interface.instance) %>
</p>

<p>
  <b>mac_address: </b><%= @network_interface.mac_address %>
</p>

<p>
  <b>availability_zone: </b><%= @network_interface.availability_zone %>
</p>

<p>
  <b>source_dest_check: </b><%= @network_interface.source_dest_check %>
</p>

<p>
  <b>status: </b><%= @network_interface.status %>
</p>

<p>
  <b>description: </b><%= @network_interface.description %>
</p>
