<h2>Network Interfaces</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region(@region) %> /
  <%= link_to "network interfaces", region_network_interfaces_path(@region) %> /
  <%= link_to @network_interface, region_network_interface_path(@region, @network_interface) %>
</div>

<p>
  <b>network_interface_id: </b><%= @network_interface.network_interface_id %>
</p>

<p>
  <b>vpc_id: </b><%= link_to @network_interface.vpc_id, region_vpc_path(@region, @network_interface.vpc_id) %>
</p>

<p>
  <b>subnet_id: </b><%= link_to @network_interface.subnet_id, region_subnet_path(@region, @network_interface.subnet_id) %>
</p>

<p>
  <b>mac_address: </b><%= @network_interface.mac_address %>
</p>

<p>
  <b>availability_zone: </b><%= @network_interface.availability_zone %>
</p>

<p>
  <b>source_dest_check: </b><%= @network_interface.source_dest_check %>
</p>

<p>
  <b>status: </b><%= @network_interface.status %>
</p>

<p>
  <b>description: </b><%= @network_interface.description %>
</p>
