<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "network interfaces", region_network_interfaces_path(@region) %> /
  <%= network_interface_link(@region, @network_interface.id) %>
</div>

<h2><%= @network_interface %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Details</h4>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>vpc: </dt>
      <dd><%= vpc_link(@region, @network_interface.vpc) %></dd>

      <dt>subnet: </dt>
      <dd><%= subnet_link(@region, @network_interface.subnet) %></dd>

      <dt>instance: </dt>
      <dd><%= instance_link(@region, @network_interface.instance) %></dd>

      <dt>mac_address: </dt>
      <dd><%= @network_interface.mac_address %></dd>

      <dt>availability_zone: </dt>
      <dd><%= @network_interface.availability_zone %></dd>

      <dt>source_dest_check: </dt>
      <dd><%= @network_interface.source_dest_check %></dd>

      <dt>status: </dt>
      <dd><%= @network_interface.status %></dd>

      <dt>description: </dt>
      <dd><%= @network_interface.description %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Raw</h4>
  </div>

  <pre><%= JSON.pretty_generate(@network_interface.as_json) %></pre>
</div>
