<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "addresses", region_addresses_path(@region) %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Addresses</h4>
  </div>

  <table class="table" id="addresses">
    <thead>
      <tr>
        <th>name</th>
        <th>domain</th>
        <th>instance_id</th>
        <th>private_ip_address</th>
        <th>network_interface_id</th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr>
          <td><%= address_link(@region, address.public_ip) %></td>
          <td><%= address.domain %></td>
          <td><%= instance_link(@region, address.instance) %></td>
          <td><%= address.private_ip_address %></td>
          <td><%= network_interface_link(@region, address.network_interface_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
