<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "addresses", region_addresses_path(@region) %> /
  <%= address_link(@region, @address.public_ip) %>
</div>

<h2><%= @address %></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Details</h4>
  </div>

  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>domain:</dt>
      <dd><%= @address.domain %></dd>

      <dt>allocation_id:</dt>
      <dd><%= @address.allocation_id %></dd>

      <dt>instance:</dt>
      <dd><%= instance_link @region, @address.instance %></dd>

      <dt>association_id:</dt>
      <dd><%= @address.association_id %></dd>

      <dt>network_interface_id:</dt>
      <dd><%= network_interface_link @region, @address.network_interface_id %></dd>

      <dt>network_interface_owner_id:</dt>
      <dd><%= @address.network_interface_owner_id %></dd>

      <dt>private_ip_address:</dt>
      <dd><%= @address.private_ip_address %></dd>
    </dl>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Raw</h4>
  </div>

  <pre><%= JSON.pretty_generate(@address.as_json) %></pre>
</div>
