<h2>Regions</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %>
</div>

<p>
  <b>Name: </b><%= @region.name %>
</p>

<p>
  <b>Endpoint: </b><%= @region.endpoint %>
</p>

<ul>
  <li><%= link_to "VPCs", region_vpcs_path(@region) %></li>
  <li><%= link_to "Subnets", region_subnets_path(@region) %></li>
  <li></li>
  <li><%= link_to "Instances", region_instances_path(@region) %></li>
  <li></li>
  <li><%= link_to "Images", region_images_path(@region) %></li>
  <li></li>
  <li><%= link_to "Volumes", region_volumes_path(@region) %></li>
  <li></li>
  <li><%= link_to "Security Groups", region_security_groups_path(@region) %></li>
  <li><%= link_to "Addresses", region_addresses_path(@region) %></li>
  <li><%= link_to "Network Interfaces", region_network_interfaces_path(@region) %></li>
</ul>
