<h2>Images</h2>

<div class="breadcrumb">
  <%= link_to "regions", regions_path %> /
  <%= region_link(@region) %> /
  <%= link_to "images", region_images_path(@region) %> /
  <%= image_link(@region, @image.id) %>
</div>

<h4>Details</h4>

<dl class="dl-horizontal">
  <dt>state:</dt>
  <dd><%= image_state(@image.image_state) %></dd>

  <dt>name:</dt>
  <dd><%= @image.name %></dd>

  <dt>description:</dt>
  <dd><%= @image.description %></dd>
</dl>

<h4>Raw</h4>

<pre><%= JSON.pretty_generate(@image.as_json) %></pre>
